
<!DOCTYPE html>

</head>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fruit Four Season - Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css" media="screen">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
    <link rel="stylesheet" href="static/css/test.css">
  </head>
  
  <body style="background-color :rgb(56, 28, 4);background-image: url(https://i.pinimg.com/originals/71/ce/81/71ce819f3e164b1cdcc92f40e12e6b18.jpg); width:100%; height:auto; position:absolute;">
    <!DOCTYPE --------------------------------Add Image -------------------------------------html>




    <!DOCTYPE --------------------------------Navigator-bar -------------------------------------html>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a href="../" class="navbar-brand">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a  href="LogIn" >Log In </a>
              &nbsp; &nbsp;
              <a  href="register" >Register </a>




              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <!-- Typography
      ================================================== -->
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <div class="container-login">
              <h1 id="typography"><center style="color:black;">เข้าสู่ระบบ    </center></h1>

                <form action="LogIn" method="POST">
                  {% csrf_token %}
                    <div class="container">
                        <center>

                            <label><font size = 5 style="color:black;">Username : </font></label>
                            <input type="text" placeholder="Enter Username" name="username" required autocomplete="off" autofocus>
                            <br/>
                            <label><font size = 5 style="color:black;">Password : </font></label>
                            <input type="password" placeholder="Enter Password" name="password" required autocomplete="off" autofocus>
                            <br/>
                            {% if form.errors %}
                              <p style="color:black;"> Try again </p>
                              <script>alert("Username or Password is incorrects")</script>
                            {% endif %}

                            <div class="bs-component">
                                  <button type="submit" class="btn btn-primary btn-sm">Log In</button>

                            </div>

                         <div class="col-lg-4">
                        <div class="bs-component">
                            <br/>
                          <h2><font color = pink >ยินดีต้อนรับ !!</font></h2>

                         
                        </div>

                      </div>

                        </center>
                    </div>
                </form>
                </div>
            </div>
          </div>
        </div>

        <!-- Headings -->

        <div class="row">
          <div class="col-lg-4">
            <div class="bs-component">



              <p class="lead"></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="bs-component">


            </div>

          </div>
          <div class="col-lg-4">
            <div class="bs-component">


            </div>

          </div>
        </div>

        <footer>
          <div class="container-footer">
          <p class="footers" style="text-align:center;"><font size = 10 style="color:black">@-trithep.ch.62@ubu.ac.th</font></p>
          </div>
        </footer>      
    <!DOCTYPE --------------------------------End Navigator-bar -------------------------------------html>


    <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>


  </body>
</html>

