<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fruit Four Season</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="static/css/container.css">
    <link rel="stylesheet" href="static/css/body.css">
    <link rel="stylesheet" href="static/css/flex.css">
  </head>
  <body class="body-set-frame">
    <div class="container-menu-bar">
      <div class="menu-bar-flex">
          <div class="menu-bar-flex-item1">Home</div>
          <div class="menu-bar-flex-item2">Contact</div>
      </div>
    </div>

  </body>
</html>
